nav{
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding: 1em;
    h2>a{
        text-decoration:none;
        color: inherit;
    }
    div{
        display:flex;
        gap: 1em;
    }
}