.center{
    display:grid;
    place-content: center;
}
.error{
    background-color:hsl(0, 50%, 90%);
    color:hsl(5, 50%, 50%);
    padding: 1em;
    border-radius: 5px;
    margin-top: 1em;
}
.message{
    background-color:hsl(125, 50%, 90%);
    color:hsl(125, 50%, 50%);
    padding: 1em;
    border-radius: 5px;
    margin-top: 1em;
}
.btn{
    border-radius: 5px;
    border: 1px solid transparent;
    padding: .5em 1em;
    cursor: pointer; 
    text-decoration: none;
    color:inherit;
    text-align:center;
    &-primary{
        color: white;
        background:hsl(219, 100%, 70%);
        &:hover{
            background:hsl(219, 100%, 60%);
        }
    }
    &-secondary{
        color: white;
        align-self:center;
        background:hsl(110, 63%, 44%);
        &:hover{
            background:hsl(110, 63%, 40%);
        }
    }
    &-neutral{
        border-color: hsl(219, 100%, 70%);
        &:hover{
            background:hsl(0, 0%, 90%);
        }
    }
    &-status{
        background-color: transparent;
        text-transform: capitalize;
        opacity: .5;
        &:hover{
            opacity: 1;
        }
        &-active{
            opacity: 1;
            color: hsl(220, 100%, 50%);
        }
    }
    &-trash{
        background:none;
        background-image: url('../images/icon-cross.svg');
        background-position:center;
        background-repeat: no-repeat;
        @media(min-width: 768px){
            opacity: 0;
        }
    }
}

.custom-checkbox{
    position:relative;
    margin-left: .5em;
    &-input{
        position:absolute;
        left: -9999px;
        opacity: 0;
    }
    &-input:checked ~ span{
        border-color: transparent;
        background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        &::before{
            opacity: 1;
        }
    }
    &-span{
        position:absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height:1.5rem;
        width: 1.5rem;
        border: 1px solid hsl(0,0%, 70%);
        border-radius: 50%;
        &:hover{
            border-color: black;
        }
        &::before{
            content: '';
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: 50%;
            opacity: 0;
            background-image: url('../images/icon-check.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}