/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.center {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.error {
  background-color: #f2d9d9;
  color: #bf4a40;
  padding: 1em;
  border-radius: 5px;
  margin-top: 1em;
}

.message {
  background-color: #d9f2db;
  color: #40bf4a;
  padding: 1em;
  border-radius: 5px;
  margin-top: 1em;
}

.btn {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: .5em 1em;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.btn-primary {
  color: white;
  background: #669cff;
}

.btn-primary:hover {
  background: #337aff;
}

.btn-secondary {
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #41b72a;
}

.btn-secondary:hover {
  background: #3ba626;
}

.btn-neutral {
  border-color: #669cff;
}

.btn-neutral:hover {
  background: #e6e6e6;
}

.btn-status {
  background-color: transparent;
  text-transform: capitalize;
  opacity: .5;
}

.btn-status:hover {
  opacity: 1;
}

.btn-status-active {
  opacity: 1;
  color: #0055ff;
}

.btn-trash {
  opacity: 0;
  background: none;
  background-image: url("../images/icon-cross.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.formContainer {
  border: 1px solid #cccccc;
  padding: 1.5em 1em;
  width: 50vw;
  max-width: 400px;
  -webkit-box-shadow: 0 3px 6px 3px #cccccc;
          box-shadow: 0 3px 6px 3px #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: .5em;
  background: white;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.formContainer a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.formContainer .profile {
  padding: 1em 0;
}

.form section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 0;
}

.form button {
  width: 100%;
}

.form input {
  border-radius: 4px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: .5em;
  outline: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

nav h2 > a {
  text-decoration: none;
  color: inherit;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

.custom-checkbox {
  position: relative;
}

.custom-checkbox-input {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.custom-checkbox-input:checked ~ span {
  border-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background: linear-gradient(#57ddff, #c058f3);
}

.custom-checkbox-input:checked ~ span::before {
  opacity: 1;
}

.custom-checkbox-span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #b3b3b3;
  border-radius: 50%;
}

.custom-checkbox-span:hover {
  border-color: black;
}

.custom-checkbox-span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  opacity: 0;
  background-image: url("../images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.todos {
  width: 50ch;
  max-width: 700px;
  margin: 0 auto;
}

.todos .todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
  gap: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.todos .todo button {
  margin-left: auto;
}

.todos .todo:hover button {
  opacity: 1;
}

.todos .todo-task {
  font-weight: bolder;
  margin: 0 1em;
}

.todos .todo-completed {
  text-decoration: line-through;
  opacity: .5;
}

.todos__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.todos__header form {
  width: 100%;
}

.todos__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todos__footer section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .5em;
}
/*# sourceMappingURL=main.css.map */