@import './reset';
@import './variables';
@import './utility';
@import './form';
@import './navbar';

.custom-checkbox{
    position:relative;
    &-input{
        position:absolute;
        left: -9999px;
        opacity: 0;
    }
    &-input:checked ~ span{
        border-color: transparent;
        background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
        &::before{
            opacity: 1;
        }
    }
    &-span{
        position:absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height:1.5rem;
        width: 1.5rem;
        border: 1px solid hsl(0,0%, 70%);
        border-radius: 50%;
        &:hover{
            border-color: black;
        }
        &::before{
            content: '';
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%, -50%);
            width: 50%;
            height: 50%;
            opacity: 0;
            background-image: url('../images/icon-check.svg');
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}
.todos{
    width: 50ch;
    max-width: 700px;
    margin: 0 auto;
    .todo{
        display:flex;
        align-items:center;
        padding: .5em;
        gap: 1em;
        button{
            margin-left: auto;
        }
        &-task{
            font-weight: bolder;
            margin: 0 1em;
        }
        &-completed{
            text-decoration: line-through;
            opacity: .5;
        }
    }
    &__header{
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
        form{
            width:100%;
        }
    }
    &__body{


    }
    &__footer{
        display:flex;
        align-items:center;
        font-size: .8rem;
        justify-content: space-between;
        section{
            display:flex;
            gap: .5em;
        }
    }
}


