@import './reset';
@import './variables';
@import './utility';
@import './form';
@import './navbar';

.todos{
    width: 50ch;
    max-width: 700px;
    margin: 0 auto;
    .todo{
        display:flex;
        align-items:center;
        padding: .5em;
        gap: 1em;
        button{
            margin-left: auto;
        }
    }
    &__header{
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
        div{
            width:100%;
        }
    }
    &__body{


    }
    &__footer{
        display:flex;
        align-items:center;
        font-size: .8rem;
        justify-content: space-between;
        section{
            display:flex;
            gap: .5em;
        }
    }
}


