/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 16px;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.center {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.error {
  background-color: #f2d9d9;
  color: #bf4a40;
  padding: 1em;
  border-radius: 5px;
  margin-top: 1em;
}

.message {
  background-color: #d9f2db;
  color: #40bf4a;
  padding: 1em;
  border-radius: 5px;
  margin-top: 1em;
}

.btn {
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.5em 1em;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.btn-primary {
  color: white;
  background: #669cff;
}

.btn-primary:hover {
  opacity: 0.8;
}

.btn-secondary {
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background: #41b72a;
}

.btn-secondary:hover {
  opacity: 0.8;
}

.btn-neutral {
  border-color: #669cff;
}

.btn-neutral:hover {
  background: #e6e6e6;
}

.btn-status {
  background-color: transparent;
  text-transform: capitalize;
  opacity: 0.5;
}

.btn-status:hover {
  opacity: 1;
}

.btn-status-active {
  opacity: 1;
  color: #0055ff;
}

.btn-trash {
  background: none;
  background-image: url("../images/icon-cross.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .btn-trash {
    opacity: 0;
  }
}

.custom-checkbox {
  position: relative;
  margin-left: 0.5em;
}

.custom-checkbox-input {
  position: absolute;
  left: -9999px;
  opacity: 0;
}

.custom-checkbox-input:checked ~ span {
  border-color: transparent;
  background: -webkit-gradient(linear, left top, left bottom, from(#57ddff), to(#c058f3));
  background: linear-gradient(#57ddff, #c058f3);
}

.custom-checkbox-input:checked ~ span::before {
  opacity: 1;
}

.custom-checkbox-span {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 1.5rem;
  width: 1.5rem;
  border: 1px solid #b3b3b3;
  border-radius: 50%;
}

.custom-checkbox-span:hover {
  border-color: black;
}

.custom-checkbox-span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  opacity: 0;
  background-image: url("../images/icon-check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.dark-mode .formContainer {
  background: #25273c;
  -webkit-box-shadow: 0px 20px 20px 12px #101018;
          box-shadow: 0px 20px 20px 12px #101018;
  border: none;
}

.formContainer {
  border: 1px solid #cccccc;
  padding: 1.5em 1em;
  width: 50vw;
  max-width: 400px;
  -webkit-box-shadow: 0 3px 6px 3px #cccccc;
          box-shadow: 0 3px 6px 3px #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  background: white;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.formContainer a {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.formContainer .profile {
  padding: 1em 0;
}

.form section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 0;
}

.form button {
  width: 100%;
  margin: 0.25em 0;
}

.form input {
  border-radius: 4px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  padding: 0.5em;
  outline: none;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

nav h2 > a {
  text-decoration: none;
  color: inherit;
}

nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
}

body {
  background-color: #F6F6F8;
}

body.dark-mode {
  color: white;
  background-color: #161620;
}

body.dark-mode .todos__form, body.dark-mode .todos__list, body.dark-mode .todos__footer, body.dark-mode .todos__status {
  background-color: #25273C;
}

body.dark-mode .todos__list, body.dark-mode .todos__footer, body.dark-mode .todos__status {
  -webkit-box-shadow: 0px 20px 20px 12px #101018;
          box-shadow: 0px 20px 20px 12px #101018;
}

body.dark-mode .todos__background {
  background-image: url("../images/bg-mobile-dark.jpg");
}

@media (min-width: 768px) {
  body.dark-mode .todos__background {
    background-image: url("../images/bg-desktop-dark.jpg");
  }
  body.dark-mode .todos__status {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

body.dark-mode .todo-task {
  color: white;
}

body.dark-mode .btn-status-active {
  color: #1A4FC1;
}

.todos {
  padding: 1em;
  position: relative;
}

.todos__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  margin: 2em 0 3em;
}

.todos__header button {
  background: none;
}

.todos__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 30%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/bg-mobile-light.jpg");
}

.todos__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 5px;
}

.todos__list {
  margin-top: 1em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.todos__form {
  border-radius: 5px;
}

.todos__form, .todos__list, .todos__footer {
  background: #F6F6F8;
}

.todos__list, .todos__footer, .todos__status {
  -webkit-box-shadow: 0px 20px 20px 12px #E6E7EC;
          box-shadow: 0px 20px 20px 12px #E6E7EC;
}

.todos__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: .5em 1em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.todos__status {
  padding: .5em 1em;
  border-radius: 5px;
  position: absolute;
  bottom: -120%;
  left: 0;
  width: 100%;
  background: #F6F6F8;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 768px) {
  .todos {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
  }
  .todos__background {
    background-image: url("../images/bg-desktop-light.jpg");
  }
  .todos__status {
    position: static;
    width: auto;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
}

.todo-task {
  background: none;
  border: none;
  padding: 1em;
  outline: none;
}

.todo button {
  margin-left: auto;
}

.todo:hover button {
  opacity: 1;
}

.todo-task {
  font-weight: bolder;
  margin: 0 1em;
}

.todo-completed {
  text-decoration: line-through;
  opacity: .5;
}
/*# sourceMappingURL=main.css.map */